.navbar {
    height: 70px;
    background-color: #0b0c3b;
    /* box-shadow: #2F3020; */
    box-shadow: 0 4px 4px 0 #212058;
}


.navbar-brand.h1 {
    color: #e7f1f7;
    font-size: 2em;
}


.navbar-brand.h1:hover {
    color: #84bbdf;
    text-decoration: blanchedalmond;
}


.navbar-nav {
    flex-direction: row;
    
}


.nav-item a {
    color: #e7f1f7;
    margin: 10px;
    font-size: 20px;
}