<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<nav class="navbar navbar-light">
  <div class="container">
      <a class="navbar-brand mb-0 h1" [routerLink]="['/']">GitHub Search</a>
      <ul class="navbar-nav float-none">
          <li class="nav-item">
              <a href="#" [routerLink]="['/']" routerLinkActive="router-link-active" >User Profile</a>
          </li>
          
         
          <li class="nav-item">
              <a href="#" [routerLink]="['/user-repo']" routerLinkActive="router-link-active" >User Repo</a>
          </li>
      </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>